*{
    padding: 0%;
    box-sizing: border-box;
    margin: 0%;
}

.main{
    border: 1px solid red;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    /* background-image:linear-gradient(to bottom right, rgb(221, 207, 207), rgb(255, 255, 255)); */
    
}
.img img{
   
   width: 100%;
   height: 100%;
   margin-top: -20%;  
   
}
.img-main-1{
 
   width: 15%;
   height: 20%;
  overflow: hidden;
  margin: 0% auto;
position: relative;
border-radius:1rem ;
bottom: -30rem;
left: 8rem;
animation: box-1 1s forwards;
transition: all 0.5s;

}
.img-main-1:hover{
     border: 1px solid transparent; 
      background:
    linear-gradient(#0000, #0000) padding-box,
    linear-gradient(45deg, #ff00c8, #00e1ff) border-box;
     width: 17%;
   height: 22%;
   position: relative;
bottom: 15rem;
filter: drop-shadow( 8px 8px 5px grey);
 box-shadow: 0 0 2000rem 100px black;

}
@keyframes box-1 {
    to{
        bottom: 10rem;
    }
    from{
        bottom: -30rem;
    }
}
.img-main-2{
    border: 1px solid red;
   width: 15%;
   height: 20%;
  overflow: hidden;
  margin: 0% auto;
  position: relative;
  border-radius:1rem ;
bottom:1.5rem;
left: -13rem;
animation: box-2 1s forwards;}
@keyframes box-2 {
    to{
       left: 1.5rem;
    }
    from{
       left: -13rem;
    }
}
.img-main-3{
    border: 1px solid red;
   width: 15%;
   height: 20%;
  overflow: hidden;
  margin: 0% auto;
  position: relative;
  border-radius:1rem ;
bottom: 26rem;
left: 3rem;
animation: box-3 1s forwards;}
@keyframes box-3 {
    to{
        bottom: 13rem;
    }
    from{
        bottom: 26rem;
    }
}
.img-main-4{
    border: 1px solid red;
   width: 15%;
   height: 20%;
  overflow: hidden;
  margin: 0% auto;
   position: relative;
   border-radius:1rem ;
bottom:-30rem;
left: -3.40rem;
animation: box-4 1s forwards;}
@keyframes box-4 {
    to{
        bottom: 4.3rem;
    }
    from{
        bottom: -30rem;
    }
}
.img-main-4 img{
   margin-left: -30%;
   margin-top: 0%;
    width: 10rem;
}
.img-main-5{
    border: 1px solid red;
   width: 15%;
   height: 20%;
  overflow: hidden;
  margin: 0% auto;
   position: relative;
   border-radius:1rem ;
bottom: 30rem;
left: -2rem;
animation: box-5 1s forwards;}
@keyframes box-5 {
    to{
        bottom: 9rem;
    }
    from{
        bottom: 30rem;
    }
}
.img-main-6{
    border: 1px solid red;
   width: 15%;
   height: 20%;
  overflow: hidden;
  margin: 0% auto;
  position: relative;
  border-radius:1rem ;
bottom: 13rem;
left:-1rem;
animation: box-6 1s forwards;}
@keyframes box-6 {
    to{
        bottom: 13rem;
    }
    from{
        bottom: -30rem;
    }
}
.img-main-6 img{
    margin-top: 0%;
}
.img-main-7{
    border: 1px solid red;
   width: 15%;
   height: 20%;
  overflow: hidden;
  margin: 0% auto;
  position: relative;
  border-radius:1rem ;
bottom: 24rem;
left: rem;
animation: box-7 1s forwards;}
@keyframes box-7 {
    to{
        bottom: 12rem;
    }
    from{
        bottom: 24rem;
    }
}
.img-main-8{
    border: 1px solid red;
   width: 15%;
   height: 20%;
  overflow: hidden;
  margin: 0% auto;
   position: relative;
   border-radius:1rem ;
bottom: -30rem;
left:1rem;
animation: box-8 1s forwards;}
@keyframes box-8 {
    to{
        bottom: 13rem;
    }
    from{
        bottom: -30rem;
    }
}
.img-main-9{
    border: 1px solid red;
   width: 15%;
   height: 20%;
  overflow: hidden;
  margin: 0% auto;
   position: relative;
   border-radius:1rem ;
bottom: 30rem;
left: 2rem;
animation: box-9 1s forwards;}
@keyframes box-9 {
    to{
        bottom: 9rem;
    }
    from{
        bottom: 30rem;
    }
}
.img-main-10{
    border: 1px solid red;
   width: 15%;
   height: 20%;
  overflow: hidden;
  margin: 0% auto;
   position: relative;
   border-radius:1rem ;
bottom: 30rem;
left: 3rem;
animation: box-10 1s forwards;}
@keyframes box-10 {
    to{
        bottom: 13rem;
    }
    from{
        bottom: 30rem;
    }
}
.img-main-11{
    border: 1px solid red;
   width: 15%;
   height: 20%;
  overflow: hidden;
  margin: 0% auto;
   position: relative;
   border-radius:1rem ;
bottom: 30rem;
left: -3.3rem;
animation: box-11 1s forwards;}
@keyframes box-11 {
    to{
        bottom: 4rem;
    }
    from{
        bottom: -30rem;
    }
}
.img-main-11 img{
    margin-top: 0%;
}
.img-main-12{
    border: 1px solid red;
   width: 15%;
   height: 20%;
  overflow: hidden;
  margin: 0% auto;
   position: relative;
   border-radius:1rem ;
bottom: 30rem;
left: -1.4rem;
animation: box-12 1s forwards;}
@keyframes box-12 {
    to{
        bottom: 10rem;
    }
    from{
        bottom: 30rem;
    }
}
.img-main-12 img{
    margin-top: -10%;
}
.img-main-13{
    border: 1px solid red;
   width: 15%;
   height: 20%;
  overflow: hidden;
  margin: 0% auto;
    position: relative;
    border-radius:1rem ;
bottom: 1.5rem;
left: 30rem;
animation: box-13 1s forwards;}
@keyframes box-13 {
    to{
        left: -8rem;
    }
    from{
        left: 30rem;
    }
}
/* --------------------------------------------------------- */
.text-teti{
    border: 1px solid rgba(165, 163, 163, 0.253);
    background-color: rgba(165, 163, 163, 0.363);
    width:8%;
    color: rgba(19, 18, 18, 0.911);
    border-radius: 1rem;
    font-size: 0.9rem;
    text-align: center;
    position: absolute;
    border-radius:1rem ;
    left: 46%;
    top: 40%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}
.text-teti-2{
    width:40%;
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    text-align: center;
    position: absolute;
    border-radius:1rem ;
    left: 30%;
    top: 50%;
    font-family:Arial, Helvetica, sans-serif;
    /* font-weight: 400; */
}
.text-teti-2 span{
    color: rgba(128, 128, 128, 0.863);
}
.text-teti-3{
    width:40%;
    color: rgb(0, 0, 0);
     font-size: 1.3rem;
    text-align: center;
    position: absolute;
    border-radius:1rem ;
    left: 30%;
    top: 70%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-weight: 400; */
}
.text-teti-4{
    width:40%;
    color: rgb(0, 0, 0);
     font-size: 1.3rem;
    text-align: center;
    position: absolute;
    border-radius:1rem ;
    left: 30%;
    top: 85%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-weight: 400; */
}